body {
  padding: 0 5%;
}

.wrapper {
  max-width: 800px;
  margin: 0 auto;
}

/* Reponsive embed technique from http://amobil.se/2011/11/responsive-embeds/ */

.embed-container {
    position: relative;
    padding-bottom: 56.25%; /* 16/9 ratio */
    padding-top: 30px; /* IE6 workaround*/
    height: 0;
    overflow: hidden;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}